{% if product.id == 520358101055 or product.id == 745784442943 or product.id == 745786277951 or product.id == 520295252031 or product.id == 745788309567 or product.id == 745787424831 or product.id == 1491529564223 or product.id == 1500658237503 or product.id == 1441488961599 or product.id == 1500630646847 or product.id == 1491507609663 or product.id == 747267620927 or product.id == 747217027135 or product.id == 1512907079743 %}
{% include 'judgeme_widgets', widget_type: 'judgeme_review_widget', concierge_install: true %}
{% endif %}








{% if template contains 'product.pagefly' %}

	{% comment %}{% include 'judgeme_widgets', widget_type: 'judgeme_review_widget', concierge_install: true %}{% endcomment %}

{%- capture flickity_options -%}
{
  "prevNextButtons": true,
  "pageDots": false,
  "wrapAround": false,
  "contain": true,
  "cellAlign": "center",
  "watchCSS": true,
  "dragThreshold": 8,
  "groupCells": true,
  "arrowShape": {"x0": 20, "x1": 60, "y1": 40, "x2": 60, "y2": 35, "x3": 25}
}
{%- endcapture -%}

{%- if section.settings.show_section -%}
  <section class="Section Section--spacingNormal" data-section-id="{{ section.id }}" data-section-type="related-products">
    {%- if section.settings.title != blank -%}
      <header class="SectionHeader SectionHeader--center">
        <div class="Container">
          <h3 class="SectionHeader__Heading Heading u-h3">{{ section.settings.title | escape }}</h3>
        </div>
      </header>
    {%- endif -%}

    {%- comment -%}
    If we are in the context of a collection, we use other products from the same collection. Otherwise we fallback to the first collection attached
    to the product and, if none is found, the "all" collections
    {%- endcomment -%}

    {%- unless collection -%}
      {%- assign collection = product.collections.first | default: collections.all -%}
    {%- endunless -%}

    {%- if collection.products_count == 1 -%}
      {%- assign collection = collections.all -%}
    {%- endif -%}

    {%- assign products_count = collection.products.size -%}
    {%- if product.metafields.sf_related_products.enabled == 1 -%}
      {%- assign related_products_count = 0 -%}

      {%- for i in (1..4) -%}
        {%- assign related_product_option = 'product_' | append: i -%}
        {%- assign related_product = all_products[product.metafields.sf_related_products[related_product_option]] -%}

        {%- unless related_product.empty? -%}
          {%- assign related_products_count = related_products_count | plus: 1 -%}
        {%- endunless -%}
      {%- endfor -%}
    {%- else -%}
      {%- if products_count >= 5 -%}
        {%- assign related_products_count = 4 -%}
      {%- else -%}
        {%- assign related_products_count = products_count | minus: 1 -%}
      {%- endif -%}
    {%- endif -%}

    <div class="ProductListWrapper">
      <div class="ProductList ProductList--carousel Carousel" data-flickity-config='{{ flickity_options }}'>
        {%- if collection.products.size >= 5 -%}
          {%- assign random_factor = collection.products.size | minus: related_products_count | abs -%}
          {%- capture index -%}{{ 'now' | date: '%S' | times: random_factor | divided_by: 60 }}{%- endcapture -%}
        {%- else -%}
          {%- assign index = 0 -%}
        {%- endif -%}

        {%- comment -%}
        All our themes come with a native integration with our SuperFields metafield app. If the product has the hand-picked choosen, then we display the
        hand-picked products instead
        {%- endcomment -%}

        {%- if product.metafields.sf_related_products.enabled == 1 -%}
          {%- for i in (1..related_products_count) -%}
            {%- assign related_product_option = 'product_' | append: i -%}
            {%- assign related_product = all_products[product.metafields.sf_related_products[related_product_option]] -%}

            {%- unless related_product.empty? -%}
              <div class="Carousel__Cell">
                {% include 'product-item', product: related_product, show_product_info: section.settings.show_product_info, show_vendor: section.settings.show_vendor, show_labels: true %}
              </div>
            {%- endunless -%}
          {%- endfor -%}
        {%- else -%}
          {%- for related_product in collection.products offset: index limit: 5 -%}
            {%- if related_product.id == product.id or processed_related_products >= related_products_count -%}
              {%- continue -%}
            {%- endif -%}

            <div class="Carousel__Cell">
              {% include 'product-item', product: related_product, show_product_info: section.settings.show_product_info, show_vendor: section.settings.show_vendor, show_color_swatch: section.settings.show_color_swatch, show_labels: true %}
            </div>

            {%- assign processed_related_products = processed_related_products | plus: 1 -%}
          {%- endfor -%}
        {%- endif -%}
      </div>
    </div>
  </section>
{%- endif -%}


{% endif %}


{%- if template.name == 'page' or template.name == 'blog' or template == 'customers/account' or template == 'customers/order' or template == 'customers/addresses' -%}
  {%- assign add_top_margin = true -%}
{%- else -%}
  {%- assign add_top_margin = false -%}
{%- endif -%}



<footer id="section-{{ section.id }}" class="Footer {% if section.blocks.size <= 2 %}Footer--center{% endif %} {% if add_top_margin %}Footer--withMargin{% endif %}" role="contentinfo">
  <div style="text-align: center; margin: 0 auto; padding: 60px 0 60px 0;"><a href="/"><img style="max-width: 173px;" src="https://cdn.shopify.com/s/files/1/0004/7310/4447/files/Transparent.png?6370277002951808590"></a></div>
  <div class="Container">
    {%- if section.blocks.size > 0 -%}
      <div class="Footer__Inner">
        {%- for block in section.blocks -%}
          <div class="Footer__Block Footer__Block--{{ block.type }}" {{ block.shopify_attributes }}>
            {%- case block.type -%}
              {%- when 'text' -%}
                {%- if block.settings.title != blank -%}
            <h2 class="Footer__Title Heading u-h6">{{ block.settings.title | escape }}</h2>
                {%- endif -%}

                {%- if block.settings.content != blank -%}
                  <div class="Footer__Content Rte">
                    {{ block.settings.content }}
                  </div>
                {%- endif -%}

                {%- if block.settings.show_social_media -%}
                  {% include 'social-media', class: 'Footer__Social', spacing: 'loose' %}
                {%- endif -%}

              {%- when 'links' -%}
                {%- assign linklist = linklists[block.settings.menu] -%}

                {%- if linklist != empty -%}
                  <h2 class="Footer__Title Heading u-h6">{{ linklist.title | escape }}</h2>

                  <ul class="Linklist">
                    {%- for link in linklist.links -%}
                      <li class="Linklist__Item">
                        <a href="{{ link.url }}" class="Link Link--primary">{{ link.title | escape }}</a>
                      </li>
                    {%- endfor -%}
                  </ul>
                {%- endif -%}

              {%- when 'newsletter' -%}
                {%- if block.settings.title != blank -%}
                  <h2 class="Footer__Title Heading u-h6">{{ block.settings.title | escape }}</h2>
                {%- endif -%}

                {%- if block.settings.content != blank -%}
                  <div class="Footer__Content Rte">
                    {{ block.settings.content }}
                  </div>
                {%- endif -%}

                {%- form 'customer', id: 'footer-newsletter', class: 'Footer__Newsletter Form' -%}
                  {%- if form.posted_successfully? -%}
                    <p class="Form__Alert Alert Alert--success">{{ 'footer.newsletter.success' | t }}</p>
                  {%- else -%}
                    {%- if form.errors -%}
                      <p class="Form__Alert Alert Alert--error">{{ form.errors.messages['email'] }}</p>
                    {%- endif -%}
           
                    <input type="hidden" name="contact[tags]" value="newsletter">
                    <input type="email" name="contact[email]" class="Form__Input" aria-label="{{ 'footer.newsletter.input' | t }}" placeholder="{{ 'footer.newsletter.input' | t }}" required>
                    <button type="submit" class="Form__Submit Button Button--primary">{{ 'footer.newsletter.submit' | t }}</button>
                  {%- endif -%}
                {%- endform -%}
            {%- endcase -%}
          </div>
        {%- endfor -%}
      </div>
    {%- endif -%}

    <div class="Footer__Aside">
      <div class="Footer__Copyright">
        <a href="{{ shop.url }}" class="Footer__StoreName Heading u-h7 Link Link--secondary">© {{ shop.name }}</a>

        {%- capture powered_by_link -%}{{ powered_by_link | replace: '<a', '<a class="Link Link--primary"' }}{%- endcapture -%}
        <p class="Footer__ThemeAuthor">{{ 'footer.general.credits_html' | t: powered_by_link: powered_by_link }}</p>
      </div>

      {%- if section.settings.show_payment_methods -%}
        {%- capture payment_methods -%}
          {%- for type in shop.enabled_payment_types -%}
            <li class="HorizontalList__Item">{{ type | payment_type_svg_tag }}</li>
          {%- endfor -%}
        {%- endcapture -%}

        {%- if payment_methods != blank -%}
          <ul class="Footer__PaymentList HorizontalList">
            {{ payment_methods }}
          </ul>
        {%- endif -%}
      {%- endif -%}
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "Footer",
  "class": "shopify-section--footer",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_payment_methods",
      "label": "Show payment methods",
      "info": "Payment method icons are automatically displayed based on your Shopify payment methods.",
      "default": true
    },
	{
      "type": "paragraph",
      "content": "Are you looking for hand-picked related products? [Learn more](http://support.maestrooo.com/article/117-product-choosing-hand-picked-related-products)."
    },
    {
      "type": "checkbox",
      "id": "show_section",
      "label": "Show section",
      "default": true
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Related Products"
    },
    {
      "type": "checkbox",
      "id": "show_product_info",
      "label": "Show product info",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "label": "Show vendor",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_color_swatch",
      "label": "Show color swatch",
      "info": "Some colors appear white? [Learn more](http://support.maestrooo.com/article/80-product-uploading-custom-color-for-color-swatch).",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "About the shop"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Text",
          "default": "<p>Use this text area to tell your customers about your brand and vision. You can change it in the theme settings.</p>"
        },
        {
          "type": "checkbox",
          "id": "show_social_media",
          "label": "Show social media",
          "info": "Make sure to have properly configured your social media in the theme settings.",
          "default": true
        }
      ]
    },
    {
      "type": "links",
      "name": "Links",
      "settings": [
        {
          "type": "link_list",
          "id": "menu",
          "label": "Menu",
          "info": "This menu won't show dropdown items."
        }
      ]
    },
    {
      "type": "newsletter",
      "name": "Newsletter",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "Customers who subscribe will have their email address added to the \"accepts marketing\" [customer list](/admin/customers?query=&accepts_marketing=1)."
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Newsletter"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Text",
          "default": "<p>A short sentence describing what someone will receive by subscribing</p>"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "text",
        "settings": {}
      },
      {
        "type": "links",
        "settings": {
          "menu": "footer"
        }
      },
      {
        "type": "newsletter",
        "settings": {}
      }
    ]
  }
}
{% endschema %}