<!-- @prettier -->

<div class="LoyaltyLionPage">
  <div class="LoyaltySection LoyaltySection--grey">
    <div class="Container Container--narrow">
      <div class="LoyaltySectionHeader">
        <h1 class="LoyaltySectionHeader__Heading">
          {{ "loyaltylion.earn_points_heading" | t }}
        </h1>
        <p class="LoyaltySectionHeader__Description">
          {{ "loyaltylion.earn_points_description" | t }}
        </p>
      </div>
      <div data-lion-rules-list></div>
    </div>
  </div>

  <div class="LoyaltySection">
    <div class="Container Container--narrow">
      <div class="LoyaltySectionHeader">
        <h1 class="LoyaltySectionHeader__Heading">
          {{ "loyaltylion.rewards_heading" | t }}
        </h1>
        <p class="LoyaltySectionHeader__Description">
          {{ "loyaltylion.rewards_description" | t }}
        </p>
      </div>
      <div data-lion-rewards-list></div>
    </div>
  </div>

  <div class="LoyaltyVipMemberBanner">
    <div class="LoyaltyVipMemberBanner__Container">
      <div class="LoyaltyVipMemberBanner__Content">
        <h1 class="LoyaltyVipMemberBanner__Heading">
          {{ "loyaltylion.vip_member_heading" | t }}
        </h1>
        <p class="LoyaltyVipMemberBanner__Description">
          {{ "loyaltylion.vip_member_description" | t }}
        </p>
        <a class="LoyaltyVipMemberBanner__Link Button Button--primary" href="/">
          {{ "loyaltylion.vip_member_link" | t }}
        </a>
      </div>
    </div>
  </div>

  <div class="LoyaltySection LoyaltySection--grey">
    <div class="Container Container--narrow">
      <div class="LoyaltySectionHeader">
        <h1 class="LoyaltySectionHeader__Heading">
          {{ "loyaltylion.tiers_heading" | t }}
        </h1>
        <p
          class="LoyaltySectionHeader__Description LoyaltySectionHeader__Description--long"
        >
          {{ "loyaltylion.tiers_description" | t }}
        </p>
      </div>
      <div data-lion-tier-overview></div>
    </div>
    <div class="Container Container--narrow">
      <div class="LoyaltySectionHeader">
        <h1 class="LoyaltySectionHeader__Heading">
          {{ "loyaltylion.tiers_benefits_heading" | t }}
        </h1>
      </div>
      <div data-lion-tier-benefits-compare></div>
    </div>
  </div>

  <div class="LoyaltySection">
    <div class="Container Container--narrow">
      <div class="LoyaltySectionHeader">
        <h1 class="LoyaltySectionHeader__Heading">
          {{ "loyaltylion.your_activity_heading" | t }}
        </h1>
        <p class="LoyaltySectionHeader__Description">
          {{ "loyaltylion.your_activity_description" | t }}
        </p>
      </div>
      <div data-lion-history-table></div>
    </div>
  </div>
</div>
